<div class="management-panel-container">
    <!-- Header -->
    <div class="header-panel">
      <div class="logo">
        <span>Logo</span>
      </div>
      <div>
        <button class="btn btn-header" (click)="goToMainMenu()">Main Menu</button>
        <button class="btn btn-header" (click)="goToSupport()">Help & Support</button>
      </div>
    </div>
  
    <!-- User Transactions -->
    <div class="user-management">
      <h2>User Transactions</h2>
      <div class="user-form">
        <label for="user-name">Username:</label>
        <input type="text" id="user-name" placeholder="Enter a username" />

        <label for="user-password">Password:</label>
        <input type="password" id="user-password" placeholder="Enter a password" />

        <button class="btn btn-add-user">Add User</button>
      </div>
      <div class="user-list">
        <h2>Current Users</h2>
        <ul>
          <li>users : xxx</li>
        </ul>
      </div>
    </div>
  
    <!-- Öneriler -->
    <div class="suggestions-section">
      <h2>Suggestions and Questions</h2>
      <div class="suggestions-list">
        <ul>
          <li>
            suggestions and questions: xxx
          </li>
          <li>
            add more languages ??
          </li>
        </ul>
      </div>
    </div>
</div>
